[submodule "src/subt"]
	path = src/subt
	url = git@github.com:RowanRama/subt_emesent_hovermap.git
	branch = CustomControls
[submodule "src/classification"]
	path = src/classification
	url = git@github.com:RowanRama/3D_classification.git
[submodule "src/octomap"]
	path = src/octomap
	url = git@github.com:OctoMap/octomap_mapping.git
